* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;
}
 


::-webkit-scrollbar {
    width: 0;
}

body{
    background: url(../img/background.jpg);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 100px;
    padding-right: 100px;
    /* opacity: 40%; */
    min-height: 100vh;
}
.task-already-exist::after{
    content: "!!!task already exist";
     color: red;
     background-color: white;
     border-radius: 10px;
     padding: 5px;

     margin-bottom: 10px;
     font-size: 20px;
}

.to-do-container {

    display: flex;
    flex-direction: column;
     align-items: center;
    min-height: 95vh;
 }

.heading {
    position: sticky;
    top: 5px;
    font-weight: bold;
    font-size: 45px;
    color: #0df3d8;
     display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.to-do-item button {
    width: 120px !important;

}

.to-do-item input:first-child {
    background-color: rgb(251, 11, 11);
    color: white;
}

.to-do-item input:last-child {
    background-color: green;
    color: white;
}

.to-do-list {

    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    width: 850px;
}

.to-do-list .to-do-item {
    
    color: black;
     
    background-image: url(../img/card.jpg);
    background-size: cover;
    object-fit: cover;

    color: white !important;
}

.input-container {
    display: none;
 }
 .display-modal{
     transition: .3s ease-in-out;
     display: flex !important;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     position: fixed;
     background: linear-gradient(0deg, black, rgba(255, 255, 255, 0.4));
     border-radius: 25px;
     width: 40%;
     height: 500px;
     top: 22%;
     right: 30%;
     gap: 5px;
    }
 
.input,
textarea,
.date-input {
    width: 380px;
    height: 60px;
    color: black;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 24px;
}

textarea {
    height: 100px;
}

.date-input {
    background-color: white;
    color: black;
    
}

input[type='button'],
button {
    
    width: 150px;
    height: 60px;
    border-radius: 12px;
    border: none;
    background-color: green;
    color: white;
    font-size: 20px;
}

button:hover,
input[type='button']:hover {
    transform: scale(1.06);
    transition: .3s ease-in-out;
}


.button {
    border: none;
    outline: none;
    position: relative;
    margin-top: 10px;
    width: 370px;
    
}

.to-do-item {
    border-radius: 10px;
    padding: 14px;
    margin-top: 10px;
}

.to-do-item>div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
 
}

.to-do-item .task-heading {
    color: #0adec5;
    font-weight: bold;
    font-size: 24px;
}

.to-do-item .to-do-text {
    font-size: 23px;
    word-wrap: break-word;
}

.to-do-item input {
    width: 90px;
    height: 35px;
    margin-top: 10px;
}

.to-do-discription {
    margin-top: 10px;
    word-wrap: break-word;
    width: 80%;
    font-size: 22px;
}

.task-button {
    display: flex;
    flex-direction: column;
}

.to-do-date {
    color: #fff;
    font-weight: bold;
}
.developed-by{
    position: relative;
    bottom: -100px;
    color: white;
}
.developed-by a{
    color: white;
}


.input-container input{
    position: relative;
}


.required-date::after{
    content: "Date is required";
     color: red;
     margin-bottom: 10px;
     padding: 5px;

     font-size: 21px;
      background-color: white;
     border-radius: 10px;
     

    }
    .required-task::after{
        content: "Task to do is required";
        color: red;
        margin-bottom: 10px;
        font-size: 21px;
         background-color: white;
         padding: 5px;
     border-radius: 10px;
        
        
    }
    .required-disc::after{
        content: "Discription is required";
        color: red;
        font-size: 21px;
        margin-bottom: 10px;
        padding: 5px;

         background-color: white;
     border-radius: 10px;
     

}

@media screen and (max-width:1060px) {
    .to-do-list {
        width: 90vw;
    }
    .display-modal{
    width: 90% !important;
    right: unset;
    }
    body{
        padding-left: 3px;
        padding-right: 3px;
    }

}


@media screen and (max-width:410px) {

    .input,
    textarea,
    .date-input ,.button 
        {
        width: 280px;
     }
}